/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-form {
  min-width: 150px;
  /*max-width: 500px;*/
  width: 100%;
}

.example-full-width {
  width: 100%;
}

/*Table Design*/
table {
  border-collapse: collapse;
  width: 100%;
}

th,tr {
  height: 45px;
  border-bottom: 1px solid #ddd;
}

tr:last-child {
	border-bottom: none;
}

tr:hover {
	background-color: #f5f5f5;
}